#icon {
    position: relative;
    top: 4px;
    left: 0px;
  }
  
.mat-dialog-actions {
    float: right;
}
    
.mat-form-field {
    width: 100%;
}

mat-button-toggle-group {
    margin-left: 12px;
}

.textsection {
    width: 90%;
    padding-top: 25px;
    margin-left: 12px;
}

.characteristics {
    margin-left: 12px;
}